#Caching schema
<FilesMatch "\.(htm|html|php|css|js)$">
Header set Cache-Control "no-cache,no-store, must-revalidate, max-age=0"
Header set Pragma "no-cache"
Header set Expires "Wed, 11 Jan 1984 05:00:00 GMT"
</FilesMatch>

#deny direct access to documents
<FilesMatch "\.(pdf|pptx)$">
order allow,deny
deny from all
</FilesMatch>

# serve first available alternate default index page from series
#DirectoryIndex login.php index.php home.php

#Prevent directory listings
#Options All -Indexes
 
# prevent folder listing
#IndexIgnore *


#allows everything if its on a certain host
Order Deny,Allow
Deny from All
Allow from Localhost
Allow from 192.168.0.0/16
Allow from 127.0.0.1

#URL Rewrites
RewriteEngine On
RewriteCond %{REQUEST_URI} !.*\.(css|jpg|gif|png|js|php)$
RewriteCond %{REQUEST_URI} !/$ 
RewriteRule (.*) http://localhost/sms1/$1/ [R]
RewriteCond %{REQUEST_URI} !.*\.(css|jpg|gif|png|js|php)$
RewriteRule ^(.*)/$ public_html/$1.php [L]

#Includes
#php_value include_path ../../includes/