body 
{
	font: normal .8em/1.5em Arial, Helvetica, sans-serif;
	background: #ebebeb;
	color: #666;
}

#form1
{
	
	margin:auto;
}

form
{
border-radius:1em;
border:0px;
box-shadow: 0 0 10px 0px #0078ff;
}

#tbl table
{
	width:100%;
}
.s_button:hover {
    opacity: 0.6;
}
.s_button:active {
    position: relative;
    top: 1px;
    left: 1px;
}

fieldset 
{
	font-size: larger;
	background: url(img/gradient1.png) repeat-x 0 -280px;
	border-radius: 1em;
	border: hidden;
}

legend 
{
	font-size: 1.3em;
	padding: 5px;
	margin-left: 11em;
	color: #7d7d7d;
}

label
{
	float:right;
	margin-left:0.8em;
}

select
{
	float:Left;
	margin-left:1em;
}

textarea
{
	margin-left:1em;
	resize:none;
}


#Designation
{
	float:Left;
	margin-left:1em;
	width:10em;
}

#Remark
{
	float:Left;
	margin-left:1em;
	width:24em;
}

input[type=text]
{
	float:left;
	width:10em;
	margin-left:1em;
}

input[type=image]
{
	float:left;
	width:1.8em;
	height: 1.8em;
	margin-left:1em;
}

input[type=reset], input[type=submit]
{
    width: 6em;
    height: 2.3em;
    float: right;
	margin-left:1em;
	background:#D1D1D1;
}

